# Copyright (c) 2022 @weteor
# SPDX-License-Identifier: MIT

if SHIELD_BRKOUT

config ZMK_KEYBOARD_NAME
    default "BrkOut"

config I2C
    default y
    
config GPIO_PCA95XX
    default y

endif # SHIELD_BRKOUT
