# Copyright (c) 2022 @weteor
# SPDX-License-Identifier: MIT

if SHIELD_BRK_OUT

config ZMK_KEYBOARD_NAME
    default "BRK OUT"

config I2C
    default y
    
config GPIO_PCA95XX
    default y
    
endif # SHIELD_BRK_OUT
